<html lang="en"><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Tradingram</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../static/landing_page/assets/img/logo.png">
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../static/landing_page/css/styles.css" rel="stylesheet">
      	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






         <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


        <style>

      form {
      border: 5px solid #f1f1f1;
      }
      input[type=text], input[type=password] ,input[type=email] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .icon1 {
      font-size: 110px;
      display: flex;
      justify-content: center;
      color: #4286f4;
      }
      .buttonclass {
      background-color: #4286f4;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grab;
      width: 48%;
      }

      .formcontainer1 {
      text-align: center;
      margin: 24px 50px 12px;
      }
      .container1 {
      padding: 16px 0;
      text-align:left;
      }
    </style>

    <style>.d-none {
    display: none;
}
.invalid-feedback {
    display: none;
}
.btn.disabled {
    pointer-events: none;
    opacity: 0.65;
}</style></head>
    <body id="page-top">
        <!-- Navigation-->

        <!-- Masthead-->

        <!-- About-->

        <!-- Services-->

        <!-- Portfolio-->

        <!-- Call to action-->

        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Sign Up</h2>
                        <hr class="divider">
                        <p class="text-muted mb-5">Sign up now and become one of the founding members of Tradingram</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="xlaJ9JkBZ8dNYMvzcr21lDy3nprr8dluIwSDQAy15UOEjabKlp8eLM6waUsWIh8n">
                            <div class="icon1">
                                <i class="fas fa-user-circle"></i>
                            </div>
                              <div class="formcontainer1">
                              <div class="container1">
                                {% csrf_token %}
                                {% for field in form %}
                                      <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if field.help_text %}
                                          <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                          <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                      </p>
                                 {% endfor %}


                              </div>
                              <button class="buttonclass" type="submit"><strong>SIGN Up</strong></button>


                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->

                    </div></form>
                </div>
              <!--
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="fa fa-telegram  fs-2 ">   </i>
                      <div> <h6>@tradingram_info</h6> </div>
                    </div>
                </div>
				 -->
            </div>
        </div></section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright © 2021 - Tradingram</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../static/landing_page/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


</body></html>