{% extends 'base2.html' %}
{% block content %}
<nav class="nav nav-pills nav-fill">
    <a class="nav-link active" aria-current="page" href="#">Markets Last Prices</a>
</nav>
<ul class="list-group">
    {% for symbol in qs %}
        <li class="list-group-item"><span class="badge bg-secondary"><a href="/markets/{{ symbol.symbol }}">{{ symbol.symbol }}</a></span> <span
                class="badge bg-success">Last Price</span> <span
                class="badge bg-info text-dark">{{ symbol.last_price }}</span></li>
    {% endfor %}
</ul>
{% endblock %}

