<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <p> name : {{ ticker.name }}</p>
    <br>
        <p> symbol : {{ ticker.symbol }} </p>
    <br>
        <p> bid : {{ ticker.bid }} </p>
    <br>
        <p> ask : {{ ticker.ask }} </p>
    <br>
        <p>username : {{ user.username }} </p>
    <br>
        <p>your free margin : {{ user.profile.free_margin |floatformat:3 }} </p>
    <br>
        <h1>
        {{ state_open_order_status }}
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ order_open_position_form.as_p }}
        <button name="open_order" type="submit">order</button>
    </form>
        <br>
        <h1>
            Your Open Positions:
        </h1>
        <br>
    {% for open_position in open_positions %}
    {{ open_position }}
        <br>
    {% endfor %}
    <br>
    <h1>
        {{ state_close_order_status }}
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ order_close_position_form.as_p }}
        <button name="close_order" type="submit">order</button>
    </form>



</body>
</html>