<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <p> name : {{ ticker.name }}</p>
    <br>
        <p> bid : {{ ticker.bid }} </p>
    <br>
        <p> ask : {{ ticker.ask }} </p>
    <br>

        <p> symbol : {{ ticker.symbol }} </p>
        <br>
        <p>username : {{ user.username }} </p>
    <br>
        <p>your balance : {{ user.profile.cash }} </p>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">order</button>
    </form>
    <h1>
        {{ state }}
    </h1>
</body>
</html>