h2{


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-style:italic;
}


#username{
    
    font-size: 25px;
    position: relative;
    left: 79%;
    top: 5%;  
    position: fixed;
}


h1{

    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}