<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
    <h2>
        What do you think about markets today? Publish it!
    </h2>
    <form method="post"  enctype="multipart/form-data" >
        {% csrf_token %}
        {{ post_form.as_p }}
        <button type="submit">Publish</button>
    </form>
    <br>
    <h1>Published Signals by your followers</h1>
    {% for signal in followings_signals %}
        <ul>
        <p>{{ signal.user.username }} has taken a {{ signal.get_direction_display }} position in {{ signal.symbol.symbol }} </p>
        <p>Signal Text :{{ signal.signal_text }}</p>
        </ul>
    {% endfor %}
</body>
</html>