<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ viewed_user.username }}'s Profile</title>
</head>
<body>
    {% if viewed_user == viewing_user %}
        <a href={% url 'update_profile_page' %}>Update Your Profile</a>
    {% else %}
        {% if is_followed %}
             <a href="unfollow/" >Unfollow</a>
        {% else %}
            <a href="follow/" >Follow</a>
        {% endif %}
    {% endif %}
    <br>
    <br>
    <p> Username : {{ viewed_user.username }} </p>
    <br>
    <img src="{{ viewed_user.profile.profile_picture.url}}" alt="Profile Picture" style="width:200px;height:200px;">
    <p> Bio : {{ viewed_user.profile.bio }} </p>
    <br>
    <p> Number of Followers : {{ viewed_user.profile.number_of_followers }}</p>
    <br>
    <p> Number of Followings : {{ viewed_user.profile.number_of_followings }}</p>
    <br>
    <p> Free Margin : {{ viewed_user.profile.free_margin}}</p>
    <br>
    <p> Blocked Margins : {{ viewed_user.profile.blocked_margins }}</p>
    <br>
    <p> Unrealized Gain : {{ viewed_user.profile.unrealized_gains }}</p>
    <br>
    <p> Equity : {{ viewed_user.profile.equity }}</p>


</body>
</html>