{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>{% block title %}

  	{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/base/css/style.css">
    		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            		crossorigin="anonymous"></script>



            <link rel="icon" type="image/x-icon" href="{% static 'landing_page/assets/img/logo.png' %}"/>
    <style>
        .notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 15px;
  position: relative;
  display: inline-block;
  border-radius: 30px;
}

.notification:hover {
  background: orange;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: orangered;
  color: white;
}

.equity{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 13px;
    margin-inline-end: 0px;
    margin-top: 10;
    font-size:17px;
    color:orangered;
}

    </style>

    {% block extra_head %}

    {% endblock %}

  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/static/base/images/logo.jpg);"></a>
	        <ul class="list-unstyled components mb-5">

	          <li>
	              <a href="{% url 'feed_page' %}">Feed</a>
	          </li>

	          <li>
              <a href="{% url 'markets_page' %}">Markets</a>
	          </li>

                <li>
              <a href="#">Competitions</a>
	          </li>
                <li>
              <a href="#">Algorithmic Trading</a>
	          </li>
                <li>
              <a href="#">Algorithms Market</a>
	          </li>

                <li>
              <a href="#">Groups</a>
	          </li>

                <li>
              <a href="#">Find Top Traders</a>
	          </li>


	        </ul>

	        <div class="footer" style="position: fixed;bottom: 0;">
	        	<p>
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> - Tradingram
						  </p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <p class="equity">  Equity: {{ user.profile.equity|floatformat:3 }}</p>

              <ul class="nav navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="#" class="notification">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>
                    </span>
                    <span class="badge">3</span>
                    </a>
                </li>
		<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.profile.profile_picture.url}}"
                             width="40" height="40" class="rounded-circle" alt="profile">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/{{ user.username }}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_profile_page' %}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="#">My Trades</a></li>
                        <li><a class="dropdown-item" href="#">Inbox</a></li>
                        <li><a class="dropdown-item" href="#">News</a></li>
                        <li><a class="dropdown-item" href="#">Guides</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/">Log Out</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

          {% block content %}

        {% endblock %}

      </div>
        </div>
{% block extra_scripts %}

{% endblock %}



    <script src="/static/base/js/jquery.min.js"></script>
    <script src="/static/base/js/popper.js"></script>
    <script src="/static/base/js/bootstrap.min.js"></script>
    <script src="/static/base/js/sidebar.js"></script>
  </body>
</html>