{% extends 'base2.html' %}
{% block title %}
    Algorithmic Trading
    {% endblock %}

{% block content %}
<br>
    <br>
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Lab</h5>
    <p class="card-text">In Tradingram's lab, you can bring your trading ideas to life by the help of simple, easy-to-understand visual blocks. You don't need to have any programming knowledge</p>
    <a href="#" class="btn btn-primary">Try The Lab</a>
  </div>
</div>

    <br>
    <br>

    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Intelligent Portfolio</h5>
    <p class="card-text">Creat an intelligent portfolio of various ETFs tailored to your specific risk preference</p>
    <a href="{% url 'etf_input_page' %}" class="btn btn-primary">Creat a Fund of Funds</a>
  </div>
</div>



{% endblock %}